* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Style */
.bg-dark {
  background-color: #1a0b2e;
}
.bg-light {
  background-color: #230e3d;
}

.btn {
  padding: 13px 16px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  border-radius: 1000px;
  border: none;
}

/* Header Styles */

nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 200px;
  align-items: center;
}
nav h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 40px
}
.gradient-text {
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.menu ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
