* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Style */
.bg-dark {
  background-color: #1a0b2e;
}
.bg-light {
  background-color: #230e3d;
}

.btn {
  padding: 13px 16px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  border-radius: 1000px;
  border: none;
  display: flex;
  align-items: center;
}

.btn:hover {
  background: linear-gradient(90deg, #e6d83a, #e1079f, #7a00d6);
  cursor: pointer;
}

.section-title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}
.advantage-card p,
.description,
.number-card p {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

/* Header Styles */

nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 200px;
  align-items: center;
}
nav h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
}
.gradient-text {
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.menu ul a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

/* banner Section */
.banner {
  position: relative;
  width: 100%;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  background-repeat: no-repeat;
}

.circle {
  position: relative;
  top: 10vh;
  width: 400px;
}

.microphone {
  position: relative;
  bottom: 27vh;
  width: 80px;
}
#badge {
  background-color: #00ff88;
  color: #1a0b2e;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  border: none;

  position: relative;
  z-index: 4;
  bottom: 65vh;
  left: 7vw;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  bottom: 10vh;
}
.banner-content h2 {
  font-size: 60px;
  font-weight: 800;
}
.banner-content p {
  margin-top: 8px;
  margin-bottom: 24px;
}

button img {
  padding-right: 10px;
}
#green-btn {
  background: transparent;
  border: 2px solid #00ff88;
  color: #00ff88;
  transition: all 0.3s ease;
}

#green-btn:hover {
  color: #ffffff;
}

.btn-group {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Advantage Section */
.advantage {
  padding: 120px 200px;
}

.advantage-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "one two two"
    "one three three"
    "four four five";
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
.advantage h2 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
  padding-bottom: 40px;
}
.advantage-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #351165;
  color: #ffffff;
  padding: 40px;
  border-radius: 40px;
}
.advantage-card h3 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
.advantage-card img {
  height: 60px;
  width: 60px;
}

/* About Section */
.about {
  padding: 50px 200px 120px 200px;
  text-align: center;
}

hr {
  border: none;
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
  margin-top: 80px;
  margin-bottom: 80px;
}

.number-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.number-card {
  text-align: center;
}
.number-card h2 {
  color: #00ff88;
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 900px;
}

.episodes {
  padding: 120px 200px;
}
.episodes h2 {
  margin-bottom: 40px;
}

.episodes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.episodes-card {
  width: 380px;
  background-color: #250d44;
  border-radius: 16px;
}
.episodes-card p {
  margin: 24px 24px 12px 24px;
}

.episodes-card h6 {
  color: #00ff88;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 12px 24px 24px 24px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.episodes-card h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin: 24px 24px 12px 24px;
}

/* Host Section */
.host-section {
  padding: 0px 200px 120px 200px;
}
.host {
  background-color: #250b45fd;
  border-radius: 40px;

  padding: 48px 40px;
  display: flex;
  gap: 24px;
}
.host h3 {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

.host-information {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap:;
}

.host-information ul {
  display: flex;
  gap: 8px;
  list-style: none;
}
.host-information ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(241, 171, 227);
  padding: 10px;
  border-radius: 50%;
}

/* Footer Section Design */

footer {
  background-image: url("./assets/footer-bg.png");
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-position: center;
  padding: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-container h2 {
  font-size: 50px;
}

.footer-links ul {
  list-style: none;
  gap: 20px;
  margin-top: 34px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-links ul a {
  text-decoration: none;
  color: #ffffff;
}
.footer-links ul li a {
  display: flex;
  gap: 10px;
}
.footer-links p {
  text-align: center;
}
.hamburger-menu {
  display: none;
}

/* Mobile Responsive */
@media screen and (max-width: 576px) {
  nav .menu,
  nav .btn {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  nav {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-size: cover;
  }

  #badge {
    left: 11vw;
    bottom: 230px;
  }
  .advantage {
    padding: 20px;
  }
  .advantage-container {
    padding: 5px;
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, fr);
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
  }
  .advantage h2 {
    font-size: 32px;
    padding-bottom: 16px;
  }
  .circle {
    width: 50vw;
  }
  .microphone {
    bottom: 7vh;
    width: 60px;
  }
  .banner-content {
    bottom: 1vh;
  }
  .banner-content h2 {
    font-size: 60px;
  }

  .banner {
    padding-bottom: 10px;
    background-image: ur("./assets/mobile-hero.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .about {
    padding: 40px 20px;
  }
  .section-title {
    font-size: 32px;
  }
  .banner-content h2 {
    font-size: 40px;
  }
  .number-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .episodes {
    padding: 40px 20px;
  }
  .episodes-container {
    display: gird;
    grid-template-columns: repeat(1, 1fr);
  }
  .episodes-card {
    width: 90vw;
  }

  .host-section {
    padding: 40px 20px;
  }
  .host {
    flex-direction: column;
    text-align: center;
  }
  .host-information p {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .host-information ul {
    justify-content: center;
    align-items: center;
  }
  footer {
    padding: 40px 20px;
  }
  .footer-links ul {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2px;
    padding-left: 30px;
    padding-right: 30px;
  }
  footer {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* Medium Device query */
@media screen and (min-width: 576px) and (max-width: 1300px) {
  .hamburger-menu {
    display: none;
  }
  .number-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .episodes-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .microphone {
  position: relative;
  bottom: 60vh;
  width: 80px;
}
  .host-section {
    padding: 40px 20px;
  }
  .host {
    flex-direction: column;
    text-align: center;
  }
  .host-information p {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .host-information ul {
    justify-content: center;
    align-items: center;
  }
  .advantage {
    padding: 20px;
  }
  .advantage-container {
    padding: 5px;
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, fr);
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
  }
  .advantage h2 {
    font-size: 32px;
    padding-bottom: 16px;
  }
  .circle {
    width: 50vw;
  }
  .microphone {
    bottom: 7vh;
    width: 60px;
  }
  .banner-content {
    bottom: 1vh;
  }
  .banner-content h2 {
    font-size: 60px;
  }
  nav .menu,
  nav .btn {
    display: none;
  }
  nav {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-size: cover;
  }
}

/* @media screen and (max-width: 1300px) {
  .episodes-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
  }
} */

/* Animation */

.circle {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate {
  animation: popIn 1s ease-out forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.pulse-text {
  animation: pulse 2s ease-in-out infinite;
}

#badge {
  animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
